*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}
  

body {
    background-color: rgb(0, 0, 77);
}

.header {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 10px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    border: 8px black solid;
    border-radius: 5%;
    padding: 20px;
    width: 400px;
    background-color: darkgray;
}

.screen {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    text-align: right;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
  
.span-2 {
    grid-column: span 2;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}


.footer {
    background-color: darkgreen;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.btn {
    padding: 15px;
    border: 2px solid black;
}

.clear-button {
    padding: 10px; 
    background-color: rgb(255, 113, 113);
    border: 2px black solid;
}

.delete-button {
    background-color: lightblue;
    border: 2px black solid;
}


.last-calc {
    min-height: 32px;
    font-size: 20px;
}

.current-calc {
    min-height: 64px;
    font-size: 40px;
}

.fa-github {
    font-size: 30px;
    color: black;
    padding: 0px 10px;
}